.garanties{
    position: relative;
    &__content{
        width: 100%;
        padding: 200px 0;
        @include m-phone{
            padding: 100px 0 150px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-title{
            display: none;
            @include m-phone{
                display: block;
                margin-bottom: 70px;
                width: 348px;
                position: relative;
                font-size: 32px;
                padding: 0 0 0 20px;
            }
        }
    }
    &__outterBd{
        border: 7px solid #A1B29F;
        padding: 13px;
        
        @include m-phone{
            width: 300px;
            position: relative;
        }
    }
    &__innerBd{
        border: 1px solid #715B4B;
        padding: 100px 60px 180px 100px;
        position: relative;
        @include m-tablet-wide{
            padding: 50px 30px 180px 30px;
        }
        @include m-phone{
            padding: 90px 0 140px 5px;
        }
    }
    &__title{
        width: 700px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 60px;
        @include m-tablet{
            margin-bottom: 40px;
            width: 600px;
        }
        @include m-phone{
            display: none;
        }
    }
    &__text{
        width: 920px;
        text-align: left;
        margin: 0 auto;
        @include m-tablet{
            width: 600px;
        }
        @include m-phone{
            width: auto;
            font-size: 16px;
            margin: 0 auto;
        }
    }
    &__logo{
        position: absolute;
        bottom: 38px;
        right: 62px;
        width: 150px;
        height: 150px;
        @include m-phone{
            width: 68px;
            height: 68px;
            bottom: 64px;
            right: 7px;
        }
        &-pic{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}