.offers{
    position: relative;
    &__content{
        padding: 100px 0 0 0;
        @include m-phone{
            padding: 80px 0 0 0;
        }
        &-title{
            font-family: 'Tenor Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 150%;
            color: #57463A;

            margin-bottom: 100px;
            @include m-phone{
                margin-bottom: 50px;
                font-size: 32px;
            }
        }
    }
    &__item{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 1440px;
        display: flex;
        @include m-tablet-wide{
            width: 1024px;
        }
        @include m-tablet{
            width: 768px;
        }
        @include m-phone{
            display: flex;
            flex-direction: column;
            width: 375px;
        }
        &-pic{
            width: 50%;
            @include m-tablet-wide{
                height: 380px;
            }
            @include m-tablet{
                height: 286px;
            }
            @include m-phone{
                position: relative;
                width: 375px;
                height: auto;
            }
        }
        &-img{
            width: 100%;
            object-fit: contain;
        }
        &-dscr{
            width: 50%;
            padding: 110px 140px 100px 40px;
            background: #E3DACE;
            @include m-tablet-wide{
                padding: 20px;
            }
            @include m-phone{
                width: 100%;
                padding: 110px 39px;
            }
        }
        &-title{
            font-family: 'Tenor Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            color: #000000;

            margin-bottom: 40px;
            @include m-tablet{
                font-size: 18px;
                margin-bottom: 20px;
            }
            @include m-phone{
                font-size: 24px;
                margin-bottom: 40px;
            }
        }
        &-text{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            color: #000000;

            margin-bottom: 55px;
            @include m-tablet{
                font-size: 14px;
            }
            @include m-phone{
                font-size: 18px;
                margin-bottom: 70px;
            }
        }
        
    }
}

.brown{
    background: #D4CDC3;
}