.massmedia{
    position: relative;
    &__content{
        padding: 0 0 160px 0;
        @include m-phone{
            padding: 0 0 90px 0;
        }
    }
    &__title{
        margin-bottom: 20px;
        @include m-phone{
            font-size: 32px;
            padding: 0 0 0 20px;
        }
    }
    &__subtitle{
        margin-bottom: 100px;
        @include m-phone{
            font-size: 16px;
            padding: 0 0 0 20px;
            margin-bottom: 60px;
        }
    }
    &__slider{
        overflow: hidden;
        &-container{}
    }
    &__slide{
        text-align: center;
        &-pic{
            max-width: 100%;
        }
    }
}