.portfolio{
    position: relative;
    &__content{
        padding: 80px 0;
        @include m-phone{
            padding: 40px 0;
        }
    }
    &__title{
        margin-bottom: 100px;
        @include m-tablet{
            margin-bottom: 60px;
        }
        @include m-phone{
            padding: 0 0 0 20px;
            font-size: 32px;
        }
    }
    &__swipper{
        position: relative;
        width: 900px;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @include m-tablet{
            width: 700px;
            padding: 0;
        }
        @include m-phone{
            width: 330px;
        }
    }
    &__gallery{
        margin: 0 auto;
        width: 820px;
        height: 700px;
        display: flex;
        overflow: hidden;
        margin-bottom: 10px;
        @include m-tablet{
            width: 700px;
            height: 700px;
        }
        @include m-phone{
            width: 330px;
            height: 240px;
        }
        &-pic{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
        }
    }
    &__thumb{
        position: relative;
        width: 100%;
        margin: 0 auto;
        @include m-tablet{
            display: none;
        }
        &-wrapper{
            width: 100%;
            height: 90px;
            display: flex;
        }
        &-img{
            width: 90px;
            height: 90px;
            object-fit: cover;
            cursor: pointer;
            opacity: 0.5;
            margin-right: 14px;
        }
    }
}

.btn-left{
    position: absolute;
    left: 0;
    bottom: 30px;
    @include m-tablet{
        top: 50%;
        // transform: translateY(-50%);
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #FFF;
        &-pic{
            width: 7px;
            height: 12px;
        }
    }
}
.btn-right{
    position: absolute;
    right: 0;
    bottom: 30px;
    @include m-tablet{
        top: 50%;
        // transform: translateY(-50%);
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #FFF;
        &-pic{
            width: 7px;
            height: 12px;
        }
    }
}

.visible{
    opacity: 1;
}

.active{
    display: block !important; 
}
