.header{
    padding: 0;
    position: relative;
    border-bottom: 1px solid;
    &__container{
        @include m-phone{}
    }
    &__content{
        position: relative;
        display: flex;
        height: 140px;
        @include m-phone{
            flex-direction: column-reverse;
            height: 100%;
            padding: 80px 0 0 20px;
            margin: 0 auto;
            border-left: 2px solid #000;
            height: 100vh;
            background: #d5cdc4;
            width: 750px;
            right: -120%;
            transition: right 1s ease;
        }
    }
    &__lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m-phone{
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        width: 330px;
        @include m-tablet-wide{
            width: 300px;
        }
        @include m-tablet{
            width: 280px;
        }
        @include m-phone{
            flex-direction: column;
            width: 130px;
        }
        &-item{}
        &-item:not(:last-child){
            @include m-phone{
                margin-bottom: 30px;
            }
        }
        &-link{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #323232;
        }
    }
    &__list:not(:last-child){
        @include m-phone{
            margin-bottom: 30px;
        }
        
    }
    &__list:last-child{
        width: 250px;
        @include m-tablet-wide{
            width: 200px;
        }
        @include m-tablet{
            width: 170px;
        }
        @include m-phone{
            width: 130px;
        }
    }
    // &__symbols{
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     margin-right: -50%;
    //     transform: translate(-50%, -50%);
    //     @include m-phone{
    //         position: relative;
    //         top: 0;
    //         left: 0;
    //         margin-right: 0;
    //         transform: translate(0, 0);
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         width: 100%;
    //         margin-bottom: 50px;
    //     }
    // }
    &__logo{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        @include m-phone{
            position: relative;
            display: flex;
            top: 0;
            left: 0;
            margin-right: 0;
            transform: translate(0, 0);
            justify-content: flex-start;
            margin-bottom: 30px;
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
        }
        &-pic{
            object-fit: cover;
        }
    }

}

.menu__bg{
    display: none;
    @include m-phone{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #57463A;
        position: absolute;
        top: 15px;
        right: 15px;

        // cursor: pointer;
    }
}



.menu-btn {
	width: 36px;
	height: 31px;
	padding: 5px;
	// margin-top: -5px;
	// margin-left: -5px;
	// align-items: center;
	// justify-content: center;
	cursor: pointer;
	display: none;
    z-index: 10;
    position: relative;
    @include m-phone() {
        display: flex;
        align-self: center;
    }
	&__wrap {
		width: 26px;
		height: 21px;
		position: relative;
	}
	span {
		position: absolute;
		top: 50%;
		background-color: #57463A;
		width: 100%;
		height: 2px;
		margin-top: -1px;
		border-radius: 0px;
		transition: transform 0.2s, opacity 0.2s, margin-top 0.2s;
        // Внутрь инклуда ложим параметры, которые будут юзаться для закрывашки бургера, только для спана!
        @include m-tablet() {
            
        }
		&:nth-child(1) {
			transform: translateY(-8px);
		}
		&:nth-child(2) {
			width: 17px;
		}
		&:nth-child(3) {
			transform: translateY(8px);
		}
	}
	&.actived {
		span {
			&:nth-child(1) {
				transform: translateY(0) rotate(-45deg);
			}
			&:nth-child(2) {
				width: 100%;
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(0) rotate(45deg);
			}
		}
	}
}

.show{
    right: -10%;
    transition: right 1s ease;
}

.active-link{
    color: #57463A;
    border-bottom: 2px solid #57463A;
}