.slife{
    position: relative;
    height: 50vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    @include m-tablet{
        width: 1440px;
        left: 50%;
        transform: translateX(-50%);
        background-position: 0 -1140px;
        background-attachment: scroll;
        background-repeat: no-repeat;
    }

    &__content{
        height: 50vh;
        position: relative;
        z-index: 2;
        padding: 197px 0;
        @include m-tablet{
            padding: 168px 0;
        }
        @include m-phone{
            padding: 0;
            height: 444px;
        }

        &-title{
            max-width: 950px;
            text-align: center;
            margin: 0 auto;
            @include m-tablet{
                width: 700px;
                text-align: center;
            }
            @include m-phone{
                position: absolute;
                width: 360px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 32px;
                padding: 146px 0;
            }
        }
    }
}